.sports-competition {
  display: grid;
  grid-template-columns: 1fr 370px;
  .left-section {
    border-radius: 16px;
    margin-top: 20px;
    height: calc(100vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 24px;

    /* Scrollbar styling */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb);
      border-radius: 4px;
      min-height: 40px;
      height: 40px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--scrollbar-thumb);
    }

    .left-section-content {
      display: flex;
      flex-direction: column;
      .logo-section {
        grid-template-columns: 40% 1fr 40%;
        width: 100%;
        display: grid;
        row-gap: 12px;
        column-gap: 8px;
        grid-template-rows: auto 36px;
        max-width: 860px;
      }
      .content {
        background: white;
        padding: 24px;
        border-radius: 16px;
        .coupon-data-item {
            .coupon-data-header {
              display: grid;
              grid-template-columns: 2fr 1fr 1fr 1fr;
              align-items: center;
              .coupon-data-header-left {
                display: flex;
                align-items: center;
                gap: 8px;
                img {
                  width: 16px;
                  height: 16px;
                }
              }
            }
            .coupon-data-items{
                overflow: hidden;
                border-radius: 12px;
            }
            
          }
      }
    }
  }

  .right-section {
    width: 370px;
    margin-top: 20px;
    min-width: 368px;
    max-width: 488px;
    height: calc(100vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;

    /* Scrollbar styling */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb);
      border-radius: 4px;
      min-height: 40px;
      height: 40px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--scrollbar-thumb);
    }

    .right-section-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .tab-btn {
    opacity: 1;
    font-weight: 700;
    padding: 15px 24px 14px;
    font-size: 14px;
    color: white;
    height: 48px;
    white-space: nowrap;
    transition: all 0.2s ease;
    opacity: 0.8;
    &.active {
      border-radius: 8px;
      border-bottom: 3px solid #6df6ff;
      color: #6df6ff;
      background: #6df6ff26;
      opacity: 1;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
