.coupon-content-container {
  padding: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  .coupon-data-item {
    .coupon-data-header {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      align-items: center;
      .coupon-data-header-left {
        display: flex;
        align-items: center;
        gap: 8px;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
    .coupon-data-items{
        overflow: hidden;
        border-radius: 12px;
    }
    
  }
}
