.loading-spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  .loading-spinner-svg {
    width: 100%;
    height: 100%;
  }

  .loading-spinner-arc {
    transform-origin: 50% 50%;
    animation: loading-spin 1s linear infinite;
  }
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
