.competition-market-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  transition: background 0.2s;
  border-radius: 4px;
  background: #2e2f30;
  margin-bottom: 2px;

  &:hover {
    background: #393a3b;
  }

  &.selected {
    background: #393a3b;
  }

  &:last-child {
    border-bottom: none;
  }

  .match-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .team-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .team-row-fav {
      margin-right: 5px;
      font-size: 12px;
    }

    .team-name {
      font-size: 12px;
      color: #fff;
      font-weight: 500;
      flex: 1;
    }

    .match-time {
      font-size: 11px;
      color: #ffffffb3;
      margin-left: auto;
    }
  }

  .odds-group {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .odds-div {
    height: 34px;
    width: 50px;
    background: #616162;
    border: none;
    border-radius: 4px;
    color: #e1ae12;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    &:hover {
      background: #ed8b00;
      color: black;
    }

    &.handicap-value {
      font-size: 11px;
      color: rgba(255, 255, 255, 0.8);
      border: #636465 1px solid;
      background: transparent;
    }
  }

  .odds-div-market {
    height: 34px;
    width: 50px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    .odds-value-market {
      color: #ffffffb3;
      font-size: 12px;
    }

    i {
      font-size: 12px;
    }
  }
}
