.match-card {
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: flex-end;
  .card-bg {
    z-index: 1;
    width: 100%;
    height: 180px;
    min-width: 200px;
    position: absolute;
    border-radius: 16px 60px 16px 16px;
  }
  .card-hero-wrapper {
    display: flex;
    align-items: flex-end;
    width: 400px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right -1px center;
    border-radius: 16px 0 16px 16px;
    z-index: 2;
    .card-hero-content {
      position: relative;
      width: 100%;
      height: 180px;
      min-width: 200px;
      padding: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .card-hero-content-top {
        height: 16px;
        gap: 8px;
        display: flex;
        align-items: center;
      }
      .game-time {
        margin-top: 22px;
        margin-bottom: 4px;
        .game-time-text {
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: #fff;
        }
      }
      .game-team {
        max-width: 160px;
        font-size: 13px;
        font-weight: 800;
        text-align: left;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .bet-item-white {
        
      }
      .bet-item {
        width: 100%;
        min-width: 50px;
        font-size: 12px;
        font-weight: 600;
        min-height: 36px;
        height: 100%;
        padding: 1px 8px;
        column-gap: 4px;
        background: #0a1324d9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        .bet-item-odd {
            color: rgb(109 246 255);
            font-size: 13px;
            font-weight: 700;
        }
        &:first-child {
            border-radius: 8px 0 0 8px;
        }
        &:last-child {
            border-radius: 0px 8px 8px 0px;
        }
      }
    }
  }
}
