.stream-icon {
  cursor: pointer;
  background-color: var(--color-primary-light);
  width: 20px;
  height: 20px;
  &:hover {
    opacity: 1;
  }
  &.disabled {
    opacity: 0.6;
    background-color: var(--text-secondary);
    filter: brightness(0) invert(1);
  }
  &.enabled {
    background-color: var(--color-primary-light);
  }
}
