.theme-one-page {
  min-height: 100vh;
  background: #161719;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  scrollbar-color: #979798 #2e2f30;

  * {
    scrollbar-color: #979798 #2e2f30;
    scrollbar-width: thin;
  }
}

.theme-one-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px;
}

.sport-list-sidebar-wrapper {
  width: 17.5%;
  height: 100%;
  overflow: hidden;
}

.sport-main-content-wrapper {
  flex: 1;
  height: 100%;
  overflow: hidden;
  padding: 0px 10px;
  width: calc(100% - (17.5% + 18.5%));
}

.sport-betting-sidebar-wrapper {
  width: 18.5%;
  height: 100%;
  overflow: hidden;
}