.search-competitions-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  flex: 1;

  .search-competitions-content {
    height: 48px;
    border-radius: 8px;
    border-bottom: 2px solid rgba(13, 56, 89, 0.1);
    background: linear-gradient(0deg, #0d38590d 0% 100%), #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    .search-competitions-icon {
      width: 20px;
      height: 20px;
      background-color: #202735;
      opacity: 0.5;
    }
    .left-arrow-icon {
      background-color: #008f93;
      width: 15px;
      height: 15px;
    }
    .search-competitions-input {
      background: transparent;
      height: 100%;
      border: none;
      font-size: 14px;
      color: #20273580;
      &:focus {
        outline: none;
      }
    }
  }
}
