.date-competition-title {
  display: flex;
  align-items: center;
  background: #222325;
  height: 44px;
  border-radius: 4px;
  justify-content: space-between;
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.2s;
  margin-bottom: 2px;

  &:hover {
    background: #222325;
  }

  .date-text {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
  }

  .date-chevron {
    color: #fff;
    font-size: 12px;
    transition: transform 0.2s;

    &.expanded {
      transform: rotate(180deg);
    }
  }
}
