.login-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #444;
  background: url("../../assets/images/welcome.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;

  .box {
    min-height: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -222px;
    padding-bottom: 30px;
  }

  .data {
    text-align: center;
    color: #fff;
    margin: 40px auto 0 auto;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    label {
      font-size: 14px;
      font-weight: 700;
    }
    .form-control {
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s,
        box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      
      &.text-center {
        text-align: center;
      }
    }

    .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      text-decoration: none;

      &.btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;

        &:hover {
          color: #fff;
          background-color: #286090;
          border-color: #204d74;
        }

        &:focus {
          color: #fff;
          background-color: #286090;
          border-color: #122b40;
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 8px rgba(51, 122, 183, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 8px rgba(51, 122, 183, 0.6);
        }
      }

      &.btn-block {
        display: block;
        width: 100%;
      }
    }

    label {
      color: #fff;
      display: block;
      margin-bottom: 5px;
    }

    br {
      height: 16px
    }

    span {
      color: #fff;
      font-size: 14px;
    }
  }
}
