.matches-page {
  display: grid;
  grid-template-columns: 1fr 370px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 8px;

  .tab-content {
    flex: 1;
    overflow-y: auto;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 12px;
  }

  .left-section {
    border-radius: 16px;
    background: white;
    margin-top: 20px;
    margin-left: 20px;
    height: calc(100vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 24px;

    /* Scrollbar styling */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb);
      border-radius: 4px;
      min-height: 40px;
      height: 40px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--scrollbar-thumb);
    }

    .left-section-content {
      display: flex;
      flex-direction: column;

      .logo-section {
        grid-template-columns: 40% 1fr 40%;
        width: 100%;
        display: grid;
        row-gap: 12px;
        column-gap: 8px;
        grid-template-rows: auto 36px;
        max-width: 860px;
      }
    }
  }

  .right-section {
    width: 370px;
    margin-top: 20px;
    min-width: 368px;
    max-width: 488px;
    height: calc(100vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;

    /* Scrollbar styling */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb);
      border-radius: 4px;
      min-height: 40px;
      height: 40px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--scrollbar-thumb);
    }

    .right-section-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .tab-btn {
    opacity: 1;
    font-weight: 700;
    padding: 15px 24px 14px;
    font-size: 14px;
    color: rgb(37, 34, 34);
    height: 48px;
    white-space: nowrap;
    transition: all 0.2s ease;

    &.active {
      border-radius: 8px;
      border-bottom: 3px solid #008f93;
      color: #008f93;
      background: #008f9326;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}