.region-item-wrapper {
  list-style: none;

  .list-item.region.expanded~.competition-list {
    background: #434445;
    padding: 0 5px 5px;
  }

  .region-icon {
    width: 18px;
    height: 12px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-style: normal;
    line-height: 1;
    border-radius: 2px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }
}