.live-betting-main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 8px;

  .tab-content {
    flex: 1;
    overflow-y: auto;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 12px;
  }

  .close-btn {
    font-weight: 500;
    padding: 8px 12px 8px 16px;
    border: 2px solid var(--border-dark);
    border-radius: 8px;
    width: fit-content;
    align-items: center;
    display: flex;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
  }

  .tab-btn {
    opacity: 1;
    font-weight: 700;
    padding: 15px 24px 14px;
    font-size: 14px;
    color: white;
    height: 48px;
    white-space: nowrap;
    transition: all 0.2s ease;

    &.active {
      border-radius: 8px;
      border-bottom: 3px solid var(--color-accent);
      color: var(--color-accent);
      background: #6df6ff26;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}