.game-detail-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #161719;
  border-radius: 4px;
  color: #fff;
  padding-left: 10px;
  overflow-y: scroll;
  padding-right: 3px;
}

.competition-detail-content.full-width ~ .game-detail-content {
  display: none;
}