.promo-card {
  width: 400px;
  height: 200px;
  position: relative;
  display: flex;
  align-items: flex-end;
  .card-bg {
    z-index: 1;
    width: 100%;
    height: 180px;
    min-width: 200px;
    position: absolute;
    border-radius: 16px;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: right;
    // overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 16px;
      background: linear-gradient(
        90deg,
        #060b1580,
        #060b1559 53.46%,
        #060b1500 85.28%
      );
    }
  }

  .card-content {
    width: 245px;
    position: relative;
    height: 100%;
    .headline-description {
      font-size: 13px;
      font-weight: 400;
      line-height: normal;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
      display: -webkit-box;
      white-space: break-spaces;
      max-height: 32px;
    }
    .headline-title {
      text-transform: capitalize;
      font-weight: 700;
      font-size: 14px;
      line-height: normal;
      margin-top: 2px;
      display: block;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
      display: -webkit-box;
      white-space: break-spaces;
      max-height: 38px;
    }
    .learn-btn {
      min-width: 36px;
      height: 36px;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      padding: 0 12px;
      background: #6bf5ff;
      color: #212836;
      flex: 0 0 fit-content
    }
  }
}
