.sport-list-filters {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 5px;
}

.search-container {
  padding: 5px;
  position: relative;
  height: 46px;
  padding: 5px;
  background: #222325;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 0 32px 0 12px;
  background: #161719;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  outline: none;
  border: 0.5px solid #323539;

  &::placeholder {
    color: #6b7280;
  }
}

.search-icon {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  color: #6b7280;
  pointer-events: none;
  z-index: 1;
}

.tabs-container {
  display: flex;
  height: 36px;
  gap: 0;
  margin-top: 2px;
  background: #2e2f30;
  border-radius: 4px;
  align-items: center;
}

.tab {
  width: 50%;
  height: 100%;
  padding: 0 12px;
  background: transparent;
  border: none;
  border-radius: 0px 4px 4px 0px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &.active {
    background: #ed8b00;
    color: #232629;
  }

  &:hover:not(.active) {
    background: #ed8b00;
    color: #232629;
  }
}

.border-radius-left {
  border-radius: 4px 0px 0px 4px;
  margin-right: 1px;
}

.border-radius-right {
  border-radius: 0px 4px 4px 0px;
}

.time-filter-wrapper {
  position: relative;
  margin-top: 5px;
  height: 36px;
  margin-bottom: 5px;
  background: #222325;
  border-radius: 4px;
  padding: 4px;
}