.live-badge {
  text-align: center;
  border-radius: 4px;
  background: linear-gradient(90deg, #f60059 1.92%, #be0045 101.92%);
  padding: 4px 3px;
  color: #fff;
  text-transform: uppercase;
  height: 16px;
  min-width: 28px;
  width: fit-content;
  span {
    text-shadow: 0 0.5px 0 #000;
    font-size: 10px;
    font-style: italic;
    font-weight: 600;
    white-space: nowrap;
  }
}

.live-play {
  width: 16px;
  height: 16px;
  img {
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
  }
}

.badge-div {
  width: 14px;
  height: 10px;
  img {
    width: 100%;
    height: 100%;
  }
}

.so-badge {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2px;
  gap: 4px;
  background: linear-gradient(90deg, #6b29ac -60.14%, #39f 106.52%);
  border-radius: 4px;
  width: 18px;
  height: 16px;
  span {
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #fff;
    font-style: italic;
    align-items: baseline;
    text-shadow: 0 0.5px 0 #000000;
  }
}
