.live-schedule-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 12px;
  background: var(--bg-card);
  align-items: center;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  &:hover {
    background: var(--bg-card-hover);
  }
  &:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  &:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .left-section {
    gap: 24px;
    display: flex;
    align-items: center;

    .time-column {
      font-size: 13px;
      min-width: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .team-name {
      font-size: 13px;
    }
    .stats-icon {
      filter: brightness(0) invert(1);
    }
  }

  .right-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    .score-item {
      font-size: 13px;
      height: 36px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--odds-bg);
      cursor: pointer;
      &:hover {
        background: var(--odds-bg-hover);
      }
      &:first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }
      &:last-child {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
      .score-item-label {
        color: var(--text-primary);
      }
      .score-item-score {
        color: var(--color-accent);
      }
    }
  }
}
