.layout-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  
  .background {
    background: var(--background);
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
  }
}
