.competition-filter {
  height: 52px;
  padding: 8px 10px;
  margin: 1px 0px 4px;
  border-radius: 4px;
  background: #393a3b;

  // Betting Categories
  .betting-categories {
    display: flex;
    gap: 24px;
    flex-direction: row;

  }

  .betting-cate-empty {
    width: 40%;
    height: 100%;
  }

  .betting-cate-main {

    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: row;
  }

  .category-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .category-header {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }

  .category-options {
    display: flex;
    justify-content: space-around;
    gap: 4px;
  }

  .category-option {
    color: #fff;
    font-size: 11px;
    white-space: nowrap;
  }
}