.competition-list {

  // Matches List
  .matches-list {
    flex: 1;
    display: flex;
    flex-direction: column;
  }



  .matches-container {
    display: flex;
    flex-direction: column;
  }

  // Skeleton loading state
  .date-group--skeleton {
    padding: 4px 0;
  }

  .date-group--skeleton-header {
    height: 28px;
    margin-bottom: 4px;
    border-radius: 4px;
    background-image: linear-gradient(
      90deg,
      #2b2c2f 0px,
      #3a3b3f 80px,
      #2b2c2f 160px
    );
    background-size: 240px 100%;
    animation: competition-list-skeleton-shimmer 1.1s infinite linear;
  }

  .match-row--skeleton {
    height: 40px;
    margin: 2px 0;
    border-radius: 4px;
    background-image: linear-gradient(
      90deg,
      #2b2c2f 0px,
      #3a3b3f 120px,
      #2b2c2f 240px
    );
    background-size: 320px 100%;
    animation: competition-list-skeleton-shimmer 1.1s infinite linear;
  }
}

@keyframes competition-list-skeleton-shimmer {
  0% {
    background-position: -320px 0;
  }
  100% {
    background-position: calc(320px + 100%) 0;
  }
}