.competition-list {

  // Matches List
  .matches-list {
    flex: 1;
    display: flex;
    flex-direction: column;
  }



  .matches-container {
    display: flex;
    flex-direction: column;
  }



}